.BPBadge {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
  font-family: Arial;
  padding: 4px;
  float: left;
  width: 10px;
  height: 10px;
  background-color: red;
  color: white; }
