.TemplateItem, .DepartmentTemplate, .DepartmentTemplate .DepartmentTitleBackground, .DepartmentTemplate .DepartmentTitleBackground .DepartmentTitle {
  position: absolute;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box; }

.TemplateCornerAll, .DepartmentTemplate, .DepartmentTemplate .DepartmentTitleBackground {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

.TemplateItemFrame, .DepartmentTemplate, .DepartmentTemplate .DepartmentTitleBackground {
  border: 1px solid #dddddd;
  background: #eeeeee;
  color: #333333; }

.TemplateTitle, .DepartmentTemplate .DepartmentTitleBackground .DepartmentTitle {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding: 0; }

.DepartmentTemplate {
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px; }
  .DepartmentTemplate .DepartmentTitleBackground {
    top: 2px;
    left: 2px;
    width: 196px;
    height: 25px; }
    .DepartmentTemplate .DepartmentTitleBackground .DepartmentTitle {
      top: 3px;
      left: 3px;
      width: 188px;
      height: 23px;
      text-align: center; }
