.TemplateItem, .LabelTemplate, .LabelTemplate .LabelLabel, .LabelTemplate .LabelTitleBackground, .LabelTemplate .LabelTitleBackground .LabelTitle, .LabelTemplate .LabelPhotoFrame, .LabelTemplate .LabelPhone, .LabelTemplate .LabelEmail, .LabelTemplate .LabelDescription {
  position: absolute;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box; }

.TemplateCornerAll, .LabelTemplate, .LabelTemplate .LabelTitleBackground {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

.TemplateItemFrame, .LabelTemplate, .LabelTemplate .LabelTitleBackground {
  border: 1px solid #dddddd;
  background: #eeeeee;
  color: #333333; }

.TemplateTitle, .LabelTemplate .LabelTitleBackground .LabelTitle {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding: 0; }

.TemplatePhotoFrame, .LabelTemplate .LabelPhotoFrame {
  border: 1px solid #cccccc;
  background: #f6f6f6;
  color: #1c94c4; }

.LabelTemplate {
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;
  font-size: 14px;
  text-align: center; }
  .LabelTemplate .LabelLabel {
    top: -20px;
    left: 2px;
    right: 2px;
    height: 16px; }
  .LabelTemplate .LabelTitleBackground {
    top: 2px;
    left: 2px;
    right: 2px;
    height: 20px; }
    .LabelTemplate .LabelTitleBackground .LabelTitle {
      top: 2px;
      left: 2px;
      right: 2px;
      height: 16px; }
  .LabelTemplate .LabelPhotoFrame {
    top: 26px;
    left: 2px;
    width: 50px;
    height: 60px; }
    .LabelTemplate .LabelPhotoFrame .LabelPhoto {
      height: 60px;
      width: 50px; }
  .LabelTemplate .LabelPhone {
    overflow: hidden;
    top: 26px;
    left: 56px;
    height: 16px;
    bottom: 2px;
    font-size: 12px; }
  .LabelTemplate .LabelEmail {
    overflow: hidden;
    top: 44px;
    left: 56px;
    height: 16px;
    bottom: 2px;
    font-size: 12px; }
  .LabelTemplate .LabelDescription {
    overflow: hidden;
    top: 62px;
    left: 56px;
    right: 2px;
    bottom: 2px;
    font-size: 12px; }
