.PERTTemplateItem {
	position: absolute;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  box-sizing:content-box;
}

.PERTTemplateCornerAll {
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.PERTTemplateItemFrame {
	border: 1px solid #dddddd;
	background: #eeeeee;
	color: #333333;
}

.PERTTemplateTitle {
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 16px;
	color: white;
	padding: 0;
}


.PERTTemplate {
  @extend .PERTTemplateItem, .PERTTemplateCornerAll, .PERTTemplateItemFrame;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;

	.PERTTitleBackground {
    @extend .PERTTemplateItem, .PERTTemplateCornerAll, .PERTTemplateItemFrame;
		top: 2px;
		left: 2px;
		right: 2px;
		height: 20px;

		.PERTTitle {
    @extend .PERTTemplateItem, .PERTTemplateTitle;
		top: 2px;
    left: 2px;
    height: 18px;
    width: 88px;
		}
	}

	.PERTETTitle {
    @extend .PERTTemplateItem;
    overflow: hidden;
		top: 20px;
		left: 0px;
		width: 50px;
    height: 20px;
    padding: 4px;
    font-size: 12px;
  }
  
	.PERTLTTitle {
    @extend .PERTTemplateItem;
    overflow: hidden;
		top: 20px;
		left: 50px;
		width: 50px;
    height: 20px;
    padding: 4px;
    font-size: 12px;
  }
  
  .PERTET {
    @extend .PERTTemplateItem;
    overflow: hidden;
		top: 40px;
		left: 0px;
		width: 50px;
    height: 20px;
    padding: 4px;
    font-size: 12px;
  }
  
	.PERTLT {
    @extend .PERTTemplateItem;
    overflow: hidden;
		top: 40px;
		left: 50px;
		width: 50px;
    height: 20px;
    padding: 4px;
    font-size: 12px;
  }

  .PERTVerticalLine {
    @extend .PERTTemplateItem;
    line-height: 0px;
    border-left: 1px solid gray;
    top: 24px;
    left: 50px;
    width: 1px;
    height: 32px;
  }
  
  .PERTHorizontalLine {
    @extend .PERTTemplateItem;
    line-height: 0px;
    border-top: 1px solid gray;
    top: 40px;
    left: 4px;
    width: 92px;
    height: 1px;
	}
}

