.TemplateItem, .xlTemplate, .xlTemplate .xlTitleBackground, .xlTemplate .xlTitleBackground .xlTitle, .xlTemplate .xlPhotoFrame, .xlTemplate .xlPhone, .xlTemplate .xlEmail, .xlTemplate .xlDescription, .lgTemplate, .lgTemplate .lgTitleBackground, .lgTemplate .lgTitleBackground .lgTitle, .lgTemplate .lgPhotoFrame, .lgTemplate .lgEmail, .lgTemplate .lgDescription, .mdTemplate, .mdTemplate .mdPhotoFrame, .mdTemplate .mdTitle, .mdTemplate .mdDescription, .smTemplate, .smTemplate .smTitle, .smTemplate .smDescription, .xsTemplate, .xsTemplate .xsTitle {
  position: absolute;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box; }

.TemplateCornerAll, .xlTemplate, .xlTemplate .xlTitleBackground, .lgTemplate, .lgTemplate .lgTitleBackground, .mdTemplate, .smTemplate, .xsTemplate {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

.TemplateItemFrame, .xlTemplate, .xlTemplate .xlTitleBackground, .lgTemplate, .lgTemplate .lgTitleBackground, .mdTemplate, .smTemplate, .xsTemplate {
  border: 1px solid #dddddd;
  background: #eeeeee;
  color: #333333; }

.TemplateTitle, .xlTemplate .xlTitleBackground .xlTitle, .lgTemplate .lgTitleBackground .lgTitle {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding: 0; }

.TemplatePhotoFrame, .xlTemplate .xlPhotoFrame, .lgTemplate .lgPhotoFrame, .mdTemplate .mdPhotoFrame {
  border: 1px solid #cccccc;
  background: #f6f6f6;
  color: #1c94c4; }

.xlTemplate {
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px; }
  .xlTemplate .xlTitleBackground {
    top: 2px;
    left: 2px;
    right: 2px;
    height: 20px; }
    .xlTemplate .xlTitleBackground .xlTitle {
      top: 2px;
      left: 2px;
      right: 2px;
      height: 16px; }
  .xlTemplate .xlPhotoFrame {
    top: 26px;
    left: 2px;
    width: 50px;
    height: 60px; }
    .xlTemplate .xlPhotoFrame .Photo {
      height: 60px;
      width: 50px; }
  .xlTemplate .xlPhone {
    overflow: hidden;
    top: 26px;
    left: 56px;
    height: 16px;
    bottom: 2px;
    font-size: 12px; }
  .xlTemplate .xlEmail {
    overflow: hidden;
    top: 44px;
    left: 56px;
    height: 16px;
    bottom: 2px;
    font-size: 12px; }
  .xlTemplate .xlDescription {
    overflow: hidden;
    top: 62px;
    left: 56px;
    right: 2px;
    bottom: 2px;
    font-size: 12px; }

.lgTemplate {
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px; }
  .lgTemplate .lgTitleBackground {
    top: 2px;
    left: 2px;
    right: 2px;
    height: 18px; }
    .lgTemplate .lgTitleBackground .lgTitle {
      top: 2px;
      left: 2px;
      width: 152px;
      height: 14px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis; }
  .lgTemplate .lgPhotoFrame {
    top: 22px;
    left: 2px;
    width: 50px;
    height: 60px; }
    .lgTemplate .lgPhotoFrame .lgPhoto {
      height: 60px;
      width: 50px; }
  .lgTemplate .lgEmail {
    overflow: hidden;
    top: 22px;
    left: 56px;
    width: 98px;
    height: 13px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .lgTemplate .lgDescription {
    overflow: hidden;
    top: 37px;
    left: 56px;
    width: 98px;
    font-size: 11px; }

.mdTemplate {
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px; }
  .mdTemplate .mdPhotoFrame {
    top: 2px;
    left: 2px;
    width: 25px;
    height: 30px; }
    .mdTemplate .mdPhotoFrame .mdPhoto {
      width: 25px;
      height: 30px; }
  .mdTemplate .mdTitle {
    top: 2px;
    left: 31px;
    width: 98px;
    height: 14px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .mdTemplate .mdDescription {
    overflow: hidden;
    top: 18px;
    left: 31px;
    width: 98px;
    height: 25px;
    font-size: 11px; }

.smTemplate {
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px; }
  .smTemplate .smTitle {
    top: 2px;
    left: 2px;
    width: 98px;
    height: 14px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .smTemplate .smDescription {
    overflow: hidden;
    top: 18px;
    left: 2px;
    width: 98px;
    height: 12px;
    font-size: 10px; }

.xsTemplate {
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px; }
  .xsTemplate .xsTitle {
    top: 2px;
    left: 2px;
    width: 80px;
    height: 14px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; }
