.container {
  padding: 10px;
}

.placeholder {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 480px;
  border-width: 1px;
  border-style: dotted;
}

.StyledButton {
  width: 32px;
  height: 32px;
  margin-bottom: 3px;
}

// Media controled Page Size Diagram

.mediaPlaceholder {
  width: 100%;
  height: 350px;
  border-width: 1px;
  border-style: dotted;
}


@media screen and (min-height: 600px) {
  .mediaPlaceholder {
    height: 350px;
  }
}

@media screen and (min-height: 700px) {
  .mediaPlaceholder {
    height: 450px;
  }
}

@media screen and (min-height: 800px) {
  .mediaPlaceholder {
    height: 550px;
  }
}

@media screen and (min-height: 900px) {
  .mediaPlaceholder {
    height: 650px;
  }
}

@media screen and (min-height: 1000px) {
  .mediaPlaceholder {
    height: 750px;
  }
}

@media screen and (min-height: 1100px) {
  .mediaPlaceholder {
    height: 850px;
  }
}

@media screen and (min-height: 1200px) {
  .mediaPlaceholder {
    height: 950px;
  }
}

@media screen and (min-height: 1300px) {
  .mediaPlaceholder {
    height: 1050px;
  }
}

@media screen and (min-height: 1400px) {
  .mediaPlaceholder {
    height: 1150px;
  }
}

@media screen and (min-height: 1500px) {
  .mediaPlaceholder {
    height: 1250px;
  }
}

// Abstract styles

.TemplateItem {
	position: absolute;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  box-sizing:content-box;
}

.TemplateCornerAll {
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.TemplateItemFrame {
	border: 1px solid #dddddd;
	background: #eeeeee;
	color: #333333;
}

.TemplateTitle {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 16px;
	color: white;
	padding: 0;
}

.TemplatePhotoFrame {
	border: 1px solid #cccccc;
	background: #f6f6f6;
	color: #1c94c4;
}

// Children layout item template

.InfoTemplate {
  @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
  text-align: center;
  font-size: 14px;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;
}

// Annotation Badge
.BadgeSymbol {
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml-border-radius: 10px; 
	border-radius: 10px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
	font-family: Arial;
	padding: 0px;
  float:left;
  width: 20px;
  height: 20px;
  background-color:red;
  color: white;
}

// Cursor Template

.CursorFrame {
  @extend .TemplateItem, .TemplateCornerAll;

  border: 2px solid #fbd850;
	background: #ffffff;
  color: #eb8f00;
  
  width: 100%;
  height: 100%;
  left: -2px;
  top: -2px;
}

.CursorBadge {
  @extend .TemplateItem;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
  font-family: Arial;
  padding: 4px;
  float: left;
  width:16px; 
  height:16px;
  top: 45px;
  left: 114px;
  z-index: 1000;
  background-color: green;
  color: white;
}

// Highlight Template

.HighlightFrame {
  @extend .TemplateItem, .TemplateCornerAll;
  
  border: 2px solid #fbcb09;
	background: white;
  color: #c77405;
  
  width: 100%;
  height: 100%;
  left: -2px;
  top: -2px;
}


.HighlightBadgePlaceholder {
  @extend .TemplateItem;
  right: 0px;
  top: 45px;
}

.HighlightBadge {
  @extend .TemplateItem;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -khtml-border-radius: 16px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
  font-family: Arial;
  padding: 4px;
  float: left;
  width:16px; 
  height:16px;
  top: 0px;
  left: -10px;
  z-index: 1000;
  background-color: green;
  color: white;
}


// Inactive Department Template

.DepartmentTemplate {
  @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;

	.DepartmentTitleBackground {
    @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
		top: 2px;
		left: 2px;
		width: 196px;
		height: 25px;

		.DepartmentTitle {
    @extend .TemplateItem, .TemplateTitle;
		top: 3px;
    left: 3px;
    width: 188px;
    height: 23px;
    text-align: center;
		}
	}
}

// Large Contact template

.ContactTemplate {
  @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;

	.ContactTitleBackground {
    @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
		top: 2px;
		left: 2px;
		right: 2px;
		height: 20px;

		.ContactTitle {
    @extend .TemplateItem, .TemplateTitle;
		top: 2px;
    left: 2px;
    right: 2px;
		height: 16px;
		}
	}

	.ContactPhotoFrame {
    @extend .TemplateItem, .TemplatePhotoFrame;
		top: 26px;
		left: 2px;
		width: 50px;
		height: 60px;

		.ContactPhoto {
		height:60px;
		width:50px;
		}
	}
	.ContactPhone {
    @extend .TemplateItem;
    overflow: hidden;
		top: 26px;
		left: 56px;
		height: 16px;
		bottom: 2px;
		font-size: 12px;
	}

  .ContactEmail {
    @extend .TemplateItem;
    overflow: hidden;
		top: 44px;
		left: 56px;
		height: 16px;
		bottom: 2px;
		font-size: 12px;
  }
  
	.ContactDescription {
    @extend .TemplateItem;
    overflow: hidden;
		top: 62px;
		left: 56px;
		right: 2px;
		bottom: 2px;
		font-size: 12px;
  }
  
  .ContactLabel {
    @extend .TemplateItem;
    text-align: center;
		top: -20px;
    left: 2px;
    right: 2px;
		height: 16px;
  }

  .ContactCheckboxElement {
    @extend .TemplateItem;
    overflow: hidden;
		height: 16x;
		left: 2px;
		right: 2px;
		bottom: 2px;
    font-size: 12px;
    z-index: 100;
    
    .ContactCheckboxCaption {
      @extend .TemplateItem;
      overflow: hidden;
      padding-bottom: 2px;
    }
  }
}

// Label Annotation Template

.InLayoutLabel {
	text-align: center;
}

// PERT Node Template

.PERTTemplate {
  @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;

	.PERTTitleBackground {
    @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
		top: 2px;
		left: 2px;
		right: 2px;
		height: 20px;

		.PERTTitle {
    @extend .TemplateItem, .TemplateTitle;
		top: 2px;
    left: 2px;
    height: 18px;
    width: 88px;
		}
	}

	.PERTETTitle {
    @extend .TemplateItem;
    overflow: hidden;
		top: 20px;
		left: 0px;
		width: 50px;
    height: 20px;
    padding: 4px;
    font-size: 12px;
  }
  
	.PERTLTTitle {
    @extend .TemplateItem;
    overflow: hidden;
		top: 20px;
		left: 50px;
		width: 50px;
    height: 20px;
    padding: 4px;
    font-size: 12px;
  }
  
  .PERTET {
    @extend .TemplateItem;
    overflow: hidden;
		top: 40px;
		left: 0px;
		width: 50px;
    height: 20px;
    padding: 4px;
    font-size: 12px;
  }
  
	.PERTLT {
    @extend .TemplateItem;
    overflow: hidden;
		top: 40px;
		left: 50px;
		width: 50px;
    height: 20px;
    padding: 4px;
    font-size: 12px;
  }

  .PERTVerticalLine {
    @extend .TemplateItem;
    line-height: 0px;
    border-left: 1px solid gray;
    top: 24px;
    left: 50px;
    width: 1px;
    height: 32px;
  }
  
  .PERTHorizontalLine {
    @extend .TemplateItem;
    line-height: 0px;
    border-top: 1px solid gray;
    top: 40px;
    left: 4px;
    width: 92px;
    height: 1px;
	}
}

// Zoom With Item Templates

.xlTemplate {
  @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;

	.xlTitleBackground {
    @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
		top: 2px;
		left: 2px;
		right: 2px;
		height: 20px;

		.xlTitle {
    @extend .TemplateItem, .TemplateTitle;
		top: 2px;
    left: 2px;
    right: 2px;
		height: 16px;
		}
	}

	.xlPhotoFrame {
    @extend .TemplateItem, .TemplatePhotoFrame;
		top: 26px;
		left: 2px;
		width: 50px;
		height: 60px;

		.Photo {
		height:60px;
		width:50px;
		}
  }
  
	.xlPhone {
    @extend .TemplateItem;
    overflow: hidden;
		top: 26px;
		left: 56px;
		height: 16px;
		bottom: 2px;
		font-size: 12px;
	}

  .xlEmail {
    @extend .TemplateItem;
    overflow: hidden;
		top: 44px;
		left: 56px;
		height: 16px;
		bottom: 2px;
		font-size: 12px;
  }
  
	.xlDescription {
    @extend .TemplateItem;
    overflow: hidden;
		top: 62px;
		left: 56px;
		right: 2px;
		bottom: 2px;
		font-size: 12px;
	}
}

.lgTemplate {
  @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;

	.lgTitleBackground {
    @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
		top: 2px;
		left: 2px;
		right: 2px;
    height: 18px;

		.lgTitle {
    @extend .TemplateItem, .TemplateTitle;
		top: 2px;
    left: 2px;
    width: 152px;
    height: 14px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
		}
	}

	.lgPhotoFrame {
    @extend .TemplateItem, .TemplatePhotoFrame;
		top: 22px;
		left: 2px;
		width: 50px;
		height: 60px;

		.lgPhoto {
		height:60px;
		width:50px;
		}
  }
  
  .lgEmail {
    @extend .TemplateItem;
    overflow: hidden;
		top: 22px;
    left: 56px;
    width: 98px;
		height: 13px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
	.lgDescription {
    @extend .TemplateItem;
    overflow: hidden;
		top: 37px;
		left: 56px;
		width: 98px;
		font-size: 11px;
	}
}

.mdTemplate {
  @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;

	.mdPhotoFrame {
    @extend .TemplateItem, .TemplatePhotoFrame;
		top: 2px;
		left: 2px;
		width: 25px;
		height: 30px;

		.mdPhoto {
      width:25px;
      height:30px;
		}
  }

  .mdTitle {
    @extend .TemplateItem;
		top: 2px;
    left: 31px;
    width: 98px;
    height: 14px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    
	.mdDescription {
    @extend .TemplateItem;
    overflow: hidden;
		top: 18px;
		left: 31px;
    width: 98px;
    height: 25px;
		font-size: 11px;
	}
}

.smTemplate {
  @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;

  .smTitle {
    @extend .TemplateItem;
		top: 2px;
    left: 2px;
    width: 98px;
    height: 14px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    
	.smDescription {
    @extend .TemplateItem;
    overflow: hidden;
		top: 18px;
		left: 2px;
    width: 98px;
    height: 12px;
		font-size: 10px;
	}
}

.xsTemplate {
  @extend .TemplateItem, .TemplateCornerAll, .TemplateItemFrame;
	width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;

  .xsTitle {
    @extend .TemplateItem;
		top: 2px;
    left: 2px;
    width: 80px;
    height: 14px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    }
}